/* ----- Initial ----- */

body {
  text-align: center;
  font-family: 'Marriweather', serif;
  color: #40514E;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: 700;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 2;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

hr {
  margin: 80px auto;
  border: 0;
  border-top: 8px dotted #EAF6F6;
  width: 100px;
}



/* ----- heading ----- */

.subtitle {
  font-weight: normal;
}

.web {
  font-family: sans-serif;
  font-size: 3rem;
}

.container-fluid {
  background-color: #E4F9F5;
  padding: 3%;
}

.cloud {
  margin: 1.5rem;
  width: 150px;
  height: auto;
}



/* ----- main ----- */

.profile {
  margin-top: 2rem;
}

.profile img {
  width: 200px;
  height: auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.design-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.monitor-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}



/* ------ footer ----- */

.contact-me {
  padding: 2rem;
}

.btn {
  background-color: #66BFBF;
}

.btn a:active,
.btn a:link,
.btn a:visited {
  color: #fff;
  text-decoration: none;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 2rem;
}

.footer-link {
  margin: 1rem;
}

.footer-link:hover {
  color: inherit;
  text-decoration: none;
}

.bottom-container p {
  color: #EAF6F6;
  margin-top: 3%;
}
